<footer class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <div class="footer-social-media">
                <a href="#">i</a>
                <a href="#">vk</a>
                <a href="#">ln</a>
                <a href="tg">tg</a>
            </div>
            <div class="footer-copy">HeavyReview</div>
            <div class="footer-form">
                <form action="#">
                    <div class="footer-form-email">
                        <input type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>