:host {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.album-profile {
    max-width: 1400px;
}

.album-profile-body {

    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
}
.album-profile-image {
    float: left;
}
.album-profile-info {
    display: flex;
    justify-content: space-between;
}